/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
/.fleet
/.idea
/.vscode


# Volumens
volumen_mysql
volumen_redis
volumen_gate
volumen_minio
